.pagination__container {
  display: flex;
  gap: 2px;
  align-self: center;
  padding: 0;
}

.pagination__item{
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.pagination__item_active{
  width: 24px;
  height: 24px;
  background-color: #c37113;
  border-radius: 4px;
  cursor: pointer;
}

.pagination__item:hover{
  background-color: rgb(218, 218, 208);
  border-radius: 4px;
}
